/* #header{

}

#header-img{

} */


#nav-bar{
position: fixed;
font-size: 25px;
width: 100%;
top: 0px;
left: 0px;
text-align: center;
display: flex;
}


.nav-link{
color: whitesmoke;
text-shadow: red 1px 1px;
background: rgba(0, 0, 0, 0.39);
text-align: center;
display: block;
}

body{
    background: url(Worlds.jpg) center;
    background-size: 100%;
}

#video{
    border:2px red solid;
    box-shadow: 0 10px 20px red;
    text-align: center;
}

@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }

p.white-text{
    font-size: 20px;
    text-shadow: red 1px 1px;
    background: rgba(0, 0, 0, 0.39);
}

.white-text{
    color: whitesmoke;
}

#email{
    box-shadow: 0 10px 20px whitesmoke;
    text-align: center;
}

#submit{
    background-color: whitesmoke;
    }

.copyright{
    color: whitesmoke;
    font-size: 15px;
}

input:hover{
    animation-name: background-color;
    animation-duration: 500ms;
}
@keyframes background-color{
    100%{
        background-color: red;
    }
}
main{
    text-align: center;
}
#footer{
    text-align: center;
}

.horizon{
    display: flex;
    position: relative;
    left: 1380px;
}

a.nav-link{
    margin-right: 8px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}
nav li{
    flex: 1 1 0;
}

nav ul li{
    list-style-type: none;
}